<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Release date</th>
          <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
          <th scope="row">{{ movie.id }}</th>
          <td class="w-25">
            <img
              src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg"
              class="img-fluid img-thumbnail" alt="Sheep">
          </td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
