<div class="container table-space">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"
          translate>moviePage.table.rank
      </th>
      <th scope="col"></th>
      <th scope="col"
          translate>moviePage.table.title
      </th>
      <th scope="col"
          translate>moviePage.table.year
      </th>
      <th scope="col"
          translate>moviePage.table.rating
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies"
        (click)="onTableRowClick(movie.id)">
      <td>{{ movie.id }}</td>
      <td>
        <img src="{{ movie.imgUrl }}"
             alt="movie img"
             class="rounded-lg movie-list-img">
      </td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.year }}</td>
      <td>7.8 / 10</td>
    </tr>
    </tbody>
  </table>
</div>
