<div class="container">
  <hr>
  <div class="movie-details-img">
    <img src="{{ movie.imgUrl }}"
         class="rounded-lg"
         alt="movie-img"
         width="200">
  </div>
  <div class="movie-details-info">
    <p><b>{{ movie.title }} </b></p>
    <p><b><i>{{ movie.description }}</i></b></p>
    <rating [(ngModel)]="rate"
            [max]="max"
            [readonly]="isReadonly"
            id="rating-stars">
    </rating>
    <br>
    <p class="one-row"
       translate>movieDetails.rating</p>
    <p class="one-row">: {{rate}}</p>
    <br>
    <p class="one-row"
       translate>movieDetails.director</p>
    <p class="one-row">: {{ movie.director }}</p>
    <br>
    <p class="one-row"
       translate>movieDetails.country</p>
    <p class="one-row">: {{ movie.country }}</p>
    <br>
    <p class="one-row"
       translate>movieDetails.year</p>
    <p class="one-row">: {{ movie.year }}</p>
  </div>
</div>
