<div class="container">
  <div class="movie-details-img">
    <img src="{{ movie.imgUrl }}"
         class="rounded-lg"
         alt="movie-img"
         width="200">
  </div>
  <div class="movie-details-info">
    <p><b>{{ movie.title }} </b></p>
    <p><b><i>{{ movie.description }}</i></b></p>
    <rating [(ngModel)]="rate"
            [max]="max"
            [readonly]="isReadonly"
            id="rating-stars"></rating>
    <p>Rate: {{rate}}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>Year: {{ movie.year }}</p>
  </div>
</div>
