.nav-item-spacing {
  margin-left: 3rem;
}

.header-fonts-tabs {
  color: darkblue;
  font-size: 18px;
}

.header-fonts-logout {
  color: goldenrod;
  font-size: 18px;
}

#logo-jpg {
  height: 110px;
  margin-bottom: 10px;
}
