<div class="container sticky-top">
  <nav ngxNavbarDynamicExpand
       class="bg-white">
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
          <img src="assets/img/header_logo/logo.jpg"
               alt="logo"
               class="img-responsive"
               id="logo-jpg">
        </a>
      </div>
    </aside>

    <button class="navbar-toggler"
            type="button"
            (click)="collapse.toggle()">
      <span class="navbar-toggler-icon d-flex align-items-center justify-content-center"></span>
    </button>
    <ngx-navbar-collapse id="main-nav"
                         #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item-spacing">
          <a class="nav-link header-fonts-tabs"
             href="movies">Top Movies</a>
        </li>
        <li class="nav-item nav-item-spacing">
          <a class="nav-link header-fonts-tabs"
             href="coming-soon">Coming Soon</a>
        </li>
        <li class="nav-item nav-item-spacing">
          <a class="nav-link header-fonts-tabs"
             href="recommendations">Recommendations</a>
        </li>
      </ul>
      <div class="btn-group"
           dropdown>
        <a dropdownToggle
           class="btn dropdown-toggle header-fonts-logout">Johnny1241</a>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu">
          <li role="menuitem">
            <a class="dropdown-item"
               href="#">Account</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </ngx-navbar-collapse>
  </nav>
</div>
