<div class="container sticky-top">
  <nav ngxNavbarDynamicExpand
       class="bg-white">
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
          <img src="assets/img/header_logo/logo.jpg"
               alt="logo"
               class="img-responsive"
               id="logo-jpg">
        </a>
      </div>
    </aside>
    <ngx-navbar-collapse id="main-nav"
                         #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto hover-menu font-weight-bold nav-padding">
        <li class="nav-item">
          <a class="nav-link header-fonts-tabs nav-element-padding"
             href="movies"
             translate>header.top.movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-fonts-tabs nav-element-padding"
             href="coming-soon"
             translate>header.coming.soon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-fonts-tabs nav-element-padding"
             href="recommendations"
             translate>header.recommendations</a>
        </li>
      </ul>
      <select #langselect
              class="select-language"
              (change)="translateService.use(langselect.value)">
        <option *ngFor="let lang of translateService.getLangs()"
                [value]="lang">{{ lang }}</option>
      </select>
      <div class="float-right"
           dropdown>
        <a dropdownToggle
           class="btn dropdown-toggle header-fonts-logout">Johnny1241</a>
        <ul id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right logout-menu hover-menu"
            role="menu">
          <li role="menuitem">
            <a class="dropdown-item"
               href="#"
               translate>header.account.settings</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item"
               href="#"
               translate>header.logout</a>
          </li>
        </ul>
      </div>
    </ngx-navbar-collapse>
  </nav>
</div>

