.flag-menu {
  font-size: 12px;
  text-align: left;
  min-width: 50px;
  border: none;
}

.header-fonts-logout {
  color: goldenrod;
  font-size: 18px;
}

.header-fonts-tabs {
  color: darkblue;
  font-size: 18px;
}

.hover-menu {
  a:hover {
    color: goldenrod;
  }

  a:active {
    color: #ff9900;
  }
}

.logout-menu {
  font-size: 16px;
  text-align: center;
  min-width: 50px;
}

.logout-position {
  margin-left: 115px;
}

.nav-item-spacing {
  margin-left: 3.13rem;
}

#language-flag {
  float: right;
  height: 5px;
  margin-top: 10px;
}

#logo-jpg {
  height: 95px;
  margin-bottom: 5px;
}

.select-language {
  margin-top: 12px;
  float: right;
}
