.header-fonts-logout {
  color: goldenrod;
  font-size: 18px;
}

.header-fonts-tabs {
  color: darkblue;
  font-size: 18px;
}

.hover-menu {
  a:hover {
    color: goldenrod;
  }

  a:active {
    color: #ff9900;
  }
}

.logout-menu {
  font-size: 16px;
  text-align: center;
  min-width: 50px;
}

#logo-jpg {
  height: 95px;
  margin-bottom: 5px;
}

.nav-element-padding {
  margin-left: 40px;
}

.select-language {
  float: right;
}
